a {
  text-decoration: none;
}
.App {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

body {
  background-color: black;
}

.resultsFeedback {
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}
