@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: red;
  margin: 0;
  padding: 20px;
}

.siteHeader {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

.siteHeader:hover {
  cursor: pointer;
}

.rancid {
  color: red;
  font-size: 50px;
}

.tomatillos {
  color: white;
  font-size: 50px
}
